{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Edit Product</h1>
    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    <hr>
    <div class="d-inline">
    {{ include('product/_delete_form.html.twig') }}
    </div>


    </div>
{% endblock %}
